# Configuration du serveur
PORT=5000
CLIENT_URL=http://localhost:3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/notescollab
# ou MongoDB Atlas
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/notescollab

# JWT
JWT_SECRET=votre_secret_jwt_super_securise

# Socket.io
SOCKET_CORS_ORIGIN=http://localhost:3000